.contrySelect {
  width: 100px;
  position: relative;
  z-index: 10;
}

.slide {
  padding: 5px;
}

* {
  box-sizing: border-box !important;
}
#navbar {
  z-index: 1000;
  position: fixed;
}

#category {
  z-index: 900;
  position: relative;
}
#all {
  z-index: 1;
}

.menu {
  z-index: 4;
}

.galleryCard {
  z-index: 1;
}

.addOffer {
  z-index: 4;
}

#offer {
  z-index: 4;
}
Menu {
  z-index: 3;
  position: relative;
}
.hide-navigation-buttons .swiper-button-next,
.hide-navigation-buttons .swiper-button-prev {
  display: none !important;
}

.contact {
  font-size: 18px;
}
/* img, video {
    max-height: 180px !important;
} */

.code-box {
  display: flex;
  justify-content: space-between;
}
.code-box .verify-code-input {
  display: inline-block;
  height: 55px;
  width: 55px;
  background-color: #fff;
  border: 1px solid #E7E7E9;
  border-radius: 8px;
  opacity: 0.9;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 1px 2px;
  outline: none;
  color: #000;
  appearance: textfield;
  -webkit-appearance: textfield;
}
.code-box .verify-code-input-error {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-color: #fff;
  border: 1px solid #fd384f;
  border-radius: 8px;
  opacity: 0.9;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  outline: none;
  color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

@media only screen and (max-width: 480px){
  .code-box .verify-code-input {
    height: 44px;
    width: 44px;
  }
}

.slider-container {
  direction: rtl;
  height: auto !important;
  max-height: 300px;
}

.slick-slider {
  overflow: hidden;
}

/* הפס גלילה */
.slick-scrollbar {
  width: 12px;
  right: 0; /* הזזה לצד ימין */
}

/* צבע התיק והתיק האזור שמעבר לו */
.slick-scrollbar-track {
  background-color: transparent !important; /* הסתרת התיק */
}

/* צבע התיק האזור שעליו נעבר */
.slick-scrollbar-thumb {
  background-color: #888 !important; /* צבע התיק */
}
#small:hover {
  fill: "#F8FAFF";
  stroke: "#BED0FB";
}

/*#categorySqure {
  animation-name: jumpfeeling;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955)
}*/
.description-text {
  position: relative;
  overflow: hidden;
  max-height: 2.5em;
  transition: max-height 0.3s ease-out;
  text-overflow: ellipsis;
}

.text-container {
  cursor: pointer;
  white-space: nowrap;
}

.show-full-text {
  white-space: normal;
  max-height: none;
}

#categorySqure:hover{
  animation-name: hoverFeelingsAnim;
  animation-duration: .3s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-delay: 0s;
  transition: transform 0.3s ease-in-out;
  border: 1px solid transparent;
  border-color: #0738D2;
}

@keyframes hoverFeelingsAnim {
  from {
    box-shadow: 0 0 0 1px transparent;
  }

  to { /* השינוי שביצעתי - שינוי בעיגול */
    box-shadow: 0 0 0 10px #ffa8a8; 
  }
}

@keyframes jumpfeeling {
  0% {
      transform: translateY(5px)
  }

  10% {
      transform: translateY(10px)
  }

  20% {
      transform: translateY(15px)
  }

  30% {
      transform: translateY(10px)
  }

  40% {
      transform: translateY(5px)
  }

  50% {
      transform: translateY(0)
  }

  60% {
      transform: translateY(-5px)
  }

  70% {
      transform: translateY(-10px)
  }

  80% {
      transform: translateY(-15px)
  }

  90% {
      transform: translateY(-10px)
  }

  100% {
      transform: translateY(0)
  }
}

@keyframes animatedSelectedFeeling {
  from {
      box-shadow: inset 0 0 0 0 #ffa8a8
  }

  to {
      box-shadow: inset 0 0 0 10px #ffa8a8
  }
}

@media print {
  .not_for_print,.not-for-print,.cm8 {
      display: none !important
  }

  .for-print {
      display: block !important
  }

  .article-body>p {
      margin-right: 0px !important
  }

  .article-body h4 {
      margin-right: 0px !important
  }

  .OUTBRAIN {
      display: none
  }

  header.skin-v_2019 strong {
      margin-right: 7px
  }
}

.successWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 470px;
  margin: 30px auto
}

body.tech12 .successWrapper {
  max-width: 100%
}

@media screen and (max-width: 600px) {
  .successWrapper {
      flex-direction:column;
      text-align: center
  }

  .successWrapper span {
      display: block
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px), screen and (min-width: 1600px) {
  footer {
      width:1126px
  }
}